﻿@model RocketBoards.Models.ModelBoard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes dos Modelos</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shaper.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModelBoardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
