﻿@model IEnumerable<RocketBoards.Models.ModelBoard>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modelos de Prancha</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shaper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shaper.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModelBoardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModelBoardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ModelBoardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
