﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutSurf.cshtml";

}

<!-- Page Title
================================================== -->
<div class="container-fluid p-0">
    <div class="row">
        <div class="dsct-hero-static dsct1080 bg-skew">
            <div class="cell is-selected">
                <div class="jarallax jarallax1080 overlay-theme">
                    <img class="jarallax-img" src="surf/images/slider/logo.jpg" alt="">
                    <div class="dsct-container">
                        <div class="dsct-position" data-top="380" data-left="0" data-right="0">
                            <div class="caption-wrap">
                                <div class="large-white dsct-fadeInUpSmall delay10">Dream Boards</div>
                            </div>
                            <!-- end .caption-wrap -->
                            <div class="caption-wrap">
                                <div class="small-white dsct-fadeInUpSmall delay15">Onde você encontra a prancha dos teus sonhos!</div>
                            </div>
                            <!-- end .caption-wrap -->
                        </div>
                        <!-- end .dsct-position -->
                    </div>
                    <!-- end .dsct-container -->
                </div>
                <!-- end .jarallax -->
            </div>
            <!-- end .cell -->
        </div>
        <!-- end .dsct-hero-static -->
    </div>
 