﻿<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="surf/images/favicon.ico">
    <title>@ViewData["Title"] - DreamBoards</title>

    <!-- Web Fonts
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="surf/css/bootstrap.css">
    <link rel="stylesheet" href="surf/fonts/css/fontawesome-all.css">
    <link rel="stylesheet" href="surf/css/plugins.css">
    <link rel="stylesheet" href="surf/css/style.css">

    <div id="boxed-wrap">
        <header id="header-wrap">

            <!-- Header
            ================================================== -->
            <div id="header">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                            <img src="surf/images/logo.png" alt="" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pranchas <i class="fas fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <a asp-area="" asp-controller="BuildBoards" asp-action="Create" class="dropdown-item">Montar Prancha</a>
                                        <a asp-area="" asp-controller="BuildBoards" asp-action="Index" class="dropdown-item">Pranchas Prontas</a>
                                        <a asp-area="" asp-controller="Shapers" asp-action="Index" class="dropdown-item">Shapers Disponíveis</a>
                                    </div>
                                    <!-- end .dropdown-menu -->
                                </li>
                                <li class="nav-item active">
                                    <a asp-area="" asp-controller="Registers" class="nav-link">Gerenciar</a>
                                </li>
                            </ul>
                            <!-- end .navbar-nav -->
                        </div>
                        <!-- end .collapse -->
                    </div>
                    <!-- end .container -->
                </nav>
                <!-- end .navbar -->

            </div>
            <!-- end #header -->
        </header>
        <!-- end #header-wrap -->
</head>
<body>
    @RenderBody()

    <!-- Footer
    ================================================== -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>About Us</h4>
                    <div class="titleline-footer">
                    </div>
                    <!-- end .titleline-footer -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <!-- end .col-lg-3 -->

                <div class="col-lg-3">
                    <h4>Support</h4>
                    <div class="titleline-footer">
                    </div>
                    <!-- end .titleline-footer -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <!-- end .col-lg-3 -->

                <div class="col-lg-3">
                    <h4>Company</h4>
                    <div class="titleline-footer">
                    </div>
                    <!-- end .titleline-footer -->
                    <ul class="footer-list">
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </li>
                    </ul>
                </div>
                <!-- end .col-lg-3 -->

                <div class="col-lg-3">
                    <h4>Contact Us</h4>
                    <div class="titleline-footer">
                    </div>
                    <!-- end .titleline-footer -->
                    <ul class="footer-list">
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </li>
                    </ul>
                </div>
                <!-- end .col-lg-3 -->

            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </footer>
    <!-- end #footer -->
    <!-- Copyright
    ================================================== -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="copyright r-divider justify-content-start">
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </div>
                <!-- end .col-lg-6 -->

                <div class="col-lg-6">
                    <ul class="copyright justify-content-end">
                        <li>
                            &copy; 2018 <a href="#">DreamBoards</a> All Rights Reserved.
                        </li>
                       
                    </ul>
                </div>
                <!-- end .col-lg-6 -->

            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </div>
    <!-- end #copyright -->
    </div>
    <!-- end #boxed-wrap -->

    <div id="back-to-top">
        <a href="#">Back to Top</a>
    </div>

    <!-- end #back-to-top -->
    <!-- Java Script
    ================================================== -->
    @RenderSection("Scripts", required: false)
    <script src="surf/js/jquery.min.js"></script>
    <script src="surf/js/popper.min.js"></script>
    <script src="surf/js/bootstrap.min.js"></script>
    <script src="surf/js/plugins.js"></script>
    <script src="surf/js/custom.js"></script>
</body>
</html>
