﻿@model RocketBoards.Models.Block

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar Bloco</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Block</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stringer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stringer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boarder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boarder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shaper.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlockId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
