﻿@model RocketBoards.Models.Block

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes - Blocos</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stringer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stringer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boarder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boarder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shaper.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlockId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
