﻿@model IEnumerable<RocketBoards.Models.Block>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Blocos</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stringer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boarder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shaper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stringer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boarder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shaper.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlockId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlockId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
