﻿@model RocketBoards.Models.BuildBoard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Montar Prancha</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlockId" class="control-label"></label>
                <select asp-for="BlockId" class ="form-control" asp-items="ViewBag.BlockId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinId" class="control-label"></label>
                <select asp-for="FinId" class ="form-control" asp-items="ViewBag.FinId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModelBoardId" class="control-label"></label>
                <select asp-for="ModelBoardId" class ="form-control" asp-items="ViewBag.ModelBoardId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
