﻿@model RocketBoards.Models.BuildBoard

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar Prancha</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block.Material)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fin.Material)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelBoard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelBoard.Model)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BuildBoardId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
