﻿@model RocketBoards.Models.BuildBoard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detailhe da Prancha</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fin.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelBoard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelBoard.Model)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BuildBoardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
