﻿@model RocketBoards.Models.BuildBoard

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Prancha</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BuildBoardId" />
            <div class="form-group">
                <label asp-for="BlockId" class="control-label"></label>
                <select asp-for="BlockId" class="form-control" asp-items="ViewBag.BlockId"></select>
                <span asp-validation-for="BlockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinId" class="control-label"></label>
                <select asp-for="FinId" class="form-control" asp-items="ViewBag.FinId"></select>
                <span asp-validation-for="FinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelBoardId" class="control-label"></label>
                <select asp-for="ModelBoardId" class="form-control" asp-items="ViewBag.ModelBoardId"></select>
                <span asp-validation-for="ModelBoardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
