﻿@model IEnumerable<RocketBoards.Models.BuildBoard>

@{
    ViewData["Title"] = "Monte sua prancha!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Monte sua Prancha</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelBoard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Block.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fin.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelBoard.Model)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BuildBoardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BuildBoardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BuildBoardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
