@charset "UTF-8";
/*
[Table of Contents]
1. Animate Version v3.5.2 - Added(Small)
2. Waypoints Delay
3. Grayscale - Added(wrap)
4. Nivo-lightbox v1.3.1 - Edited(url)
*/
/* ----------------------------------------------------------------------
	1. Animate v3.5.2
---------------------------------------------------------------------- */
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
.animated.infinite { animation-iteration-count: infinite; }
.animated.hinge { animation-duration: 2s; }
.animated.flipOutX, .animated.flipOutY, .animated.bounceIn, .animated.bounceOut { animation-duration: .75s; }
 @keyframes bounce { from, 20%, 53%, 80%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transform: translate3d(0, 0, 0);
}
 40%, 43% {
 animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
 transform: translate3d(0, -30px, 0);
}
 70% {
 animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
 transform: translate3d(0, -15px, 0);
}
 90% {
 transform: translate3d(0, -4px, 0);
}
}
.bounce {
	animation-name: bounce;
	transform-origin: center bottom;
}
 @keyframes flash { from, 50%, to {
 opacity: 1;
}
 25%, 75% {
 opacity: 0;
}
}
.flash { animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse { from {
 transform: scale3d(1, 1, 1);
}
 50% {
 transform: scale3d(1.05, 1.05, 1.05);
}
to { transform: scale3d(1, 1, 1); }
}
.pulse { animation-name: pulse; }
 @keyframes rubberBand { from {
 transform: scale3d(1, 1, 1);
}
 30% {
 transform: scale3d(1.25, 0.75, 1);
}
 40% {
 transform: scale3d(0.75, 1.25, 1);
}
 50% {
 transform: scale3d(1.15, 0.85, 1);
}
 65% {
 transform: scale3d(.95, 1.05, 1);
}
 75% {
 transform: scale3d(1.05, .95, 1);
}
to { transform: scale3d(1, 1, 1); }
}
.rubberBand { animation-name: rubberBand; }
 @keyframes shake { from, to {
 transform: translate3d(0, 0, 0);
}
 10%, 30%, 50%, 70%, 90% {
 transform: translate3d(-10px, 0, 0);
}
 20%, 40%, 60%, 80% {
 transform: translate3d(10px, 0, 0);
}
}
.shake { animation-name: shake; }
 @keyframes headShake { 0% {
 transform: translateX(0);
}
 6.5% {
 transform: translateX(-6px) rotateY(-9deg);
}
 18.5% {
 transform: translateX(5px) rotateY(7deg);
}
 31.5% {
 transform: translateX(-3px) rotateY(-5deg);
}
 43.5% {
 transform: translateX(2px) rotateY(3deg);
}
 50% {
 transform: translateX(0);
}
}
.headShake {
	animation-timing-function: ease-in-out;
	animation-name: headShake;
}
 @keyframes swing { 20% {
 transform: rotate3d(0, 0, 1, 15deg);
}
 40% {
 transform: rotate3d(0, 0, 1, -10deg);
}
 60% {
 transform: rotate3d(0, 0, 1, 5deg);
}
 80% {
 transform: rotate3d(0, 0, 1, -5deg);
}
to { transform: rotate3d(0, 0, 1, 0deg); }
}
.swing {
	transform-origin: top center;
	animation-name: swing;
}
 @keyframes tada { from {
 transform: scale3d(1, 1, 1);
}
 10%, 20% {
 transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}
 30%, 50%, 70%, 90% {
 transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
 40%, 60%, 80% {
 transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
to { transform: scale3d(1, 1, 1); }
}
.tada { animation-name: tada; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble { from {
 transform: none;
}
 15% {
 transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
}
 30% {
 transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
}
 45% {
 transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
}
 60% {
 transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
}
 75% {
 transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
}
to { transform: none; }
}
.wobble { animation-name: wobble; }
 @keyframes jello { from, 11.1%, to {
 transform: none;
}
 22.2% {
 transform: skewX(-12.5deg) skewY(-12.5deg);
}
 33.3% {
 transform: skewX(6.25deg) skewY(6.25deg);
}
 44.4% {
 transform: skewX(-3.125deg) skewY(-3.125deg);
}
 55.5% {
 transform: skewX(1.5625deg) skewY(1.5625deg);
}
 66.6% {
 transform: skewX(-0.78125deg) skewY(-0.78125deg);
}
 77.7% {
 transform: skewX(0.390625deg) skewY(0.390625deg);
}
 88.8% {
 transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
}
}
.jello {
	animation-name: jello;
	transform-origin: center;
}
 @keyframes bounceIn { from, 20%, 40%, 60%, 80%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 transform: scale3d(.3, .3, .3);
}
 20% {
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 transform: scale3d(.9, .9, .9);
}
 60% {
 opacity: 1;
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 transform: scale3d(.97, .97, .97);
}
to {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}
}
.bounceIn { animation-name: bounceIn; }
 @keyframes bounceInDown { from, 60%, 75%, 90%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 transform: translate3d(0, -3000px, 0);
}
 60% {
 opacity: 1;
 transform: translate3d(0, 25px, 0);
}
 75% {
 transform: translate3d(0, -10px, 0);
}
 90% {
 transform: translate3d(0, 5px, 0);
}
to { transform: none; }
}
.bounceInDown { animation-name: bounceInDown; }
 @keyframes bounceInLeft { from, 60%, 75%, 90%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 transform: translate3d(-3000px, 0, 0);
}
 60% {
 opacity: 1;
 transform: translate3d(25px, 0, 0);
}
 75% {
 transform: translate3d(-10px, 0, 0);
}
 90% {
 transform: translate3d(5px, 0, 0);
}
to { transform: none; }
}
.bounceInLeft { animation-name: bounceInLeft; }
 @keyframes bounceInRight { from, 60%, 75%, 90%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
from {
	opacity: 0;
	transform: translate3d(3000px, 0, 0);
}
 60% {
 opacity: 1;
 transform: translate3d(-25px, 0, 0);
}
 75% {
 transform: translate3d(10px, 0, 0);
}
 90% {
 transform: translate3d(-5px, 0, 0);
}
to { transform: none; }
}
.bounceInRight { animation-name: bounceInRight; }
 @keyframes bounceInUp { from, 60%, 75%, 90%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
from {
	opacity: 0;
	transform: translate3d(0, 3000px, 0);
}
 60% {
 opacity: 1;
 transform: translate3d(0, -20px, 0);
}
 75% {
 transform: translate3d(0, 10px, 0);
}
 90% {
 transform: translate3d(0, -5px, 0);
}
to { transform: translate3d(0, 0, 0); }
}
.bounceInUp { animation-name: bounceInUp; }
 @keyframes bounceOut { 20% {
 transform: scale3d(.9, .9, .9);
}
 50%, 55% {
 opacity: 1;
 transform: scale3d(1.1, 1.1, 1.1);
}
to {
	opacity: 0;
	transform: scale3d(.3, .3, .3);
}
}
.bounceOut { animation-name: bounceOut; }
 @keyframes bounceOutDown { 20% {
 transform: translate3d(0, 10px, 0);
}
 40%, 45% {
 opacity: 1;
 transform: translate3d(0, -20px, 0);
}
to {
	opacity: 0;
	transform: translate3d(0, 2000px, 0);
}
}
.bounceOutDown { animation-name: bounceOutDown; }
 @keyframes bounceOutLeft { 20% {
 opacity: 1;
 transform: translate3d(20px, 0, 0);
}
to {
	opacity: 0;
	transform: translate3d(-2000px, 0, 0);
}
}
.bounceOutLeft { animation-name: bounceOutLeft; }
 @keyframes bounceOutRight { 20% {
 opacity: 1;
 transform: translate3d(-20px, 0, 0);
}
to {
	opacity: 0;
	transform: translate3d(2000px, 0, 0);
}
}
.bounceOutRight { animation-name: bounceOutRight; }
 @keyframes bounceOutUp { 20% {
 transform: translate3d(0, -10px, 0);
}
 40%, 45% {
 opacity: 1;
 transform: translate3d(0, 20px, 0);
}
to {
	opacity: 0;
	transform: translate3d(0, -2000px, 0);
}
}
.bounceOutUp { animation-name: bounceOutUp; }
 @keyframes fadeIn { from {
 opacity: 0;
}
to { opacity: 1; }
}
.fadeIn { animation-name: fadeIn; }
 @keyframes fadeInDown { from {
 opacity: 0;
 transform: translate3d(0, -100%, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInDown { animation-name: fadeInDown; }
 @keyframes fadeInDownBig { from {
 opacity: 0;
 transform: translate3d(0, -2000px, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInDownBig { animation-name: fadeInDownBig; }
 @keyframes fadeInLeft { from {
 opacity: 0;
 transform: translate3d(-100%, 0, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInLeft { animation-name: fadeInLeft; }
 @keyframes fadeInLeftBig { from {
 opacity: 0;
 transform: translate3d(-2000px, 0, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInLeftBig { animation-name: fadeInLeftBig; }
 @keyframes fadeInRight { from {
 opacity: 0;
 transform: translate3d(100%, 0, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInRight { animation-name: fadeInRight; }
 @keyframes fadeInRightBig { from {
 opacity: 0;
 transform: translate3d(2000px, 0, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInRightBig { animation-name: fadeInRightBig; }
 @keyframes fadeInUp { from {
 opacity: 0;
 transform: translate3d(0, 100%, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInUp { animation-name: fadeInUp; }
 @keyframes fadeInUpBig { from {
 opacity: 0;
 transform: translate3d(0, 2000px, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInUpBig { animation-name: fadeInUpBig; }
 @keyframes fadeOut { from {
 opacity: 1;
}
to { opacity: 0; }
}
.fadeOut { animation-name: fadeOut; }
 @keyframes fadeOutDown { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(0, 100%, 0);
}
}
.fadeOutDown { animation-name: fadeOutDown; }
 @keyframes fadeOutDownBig { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(0, 2000px, 0);
}
}
.fadeOutDownBig { animation-name: fadeOutDownBig; }
 @keyframes fadeOutLeft { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
}
.fadeOutLeft { animation-name: fadeOutLeft; }
 @keyframes fadeOutLeftBig { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(-2000px, 0, 0);
}
}
.fadeOutLeftBig { animation-name: fadeOutLeftBig; }
 @keyframes fadeOutRight { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
}
.fadeOutRight { animation-name: fadeOutRight; }
 @keyframes fadeOutRightBig { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(2000px, 0, 0);
}
}
.fadeOutRightBig { animation-name: fadeOutRightBig; }
 @keyframes fadeOutUp { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(0, -100%, 0);
}
}
.fadeOutUp { animation-name: fadeOutUp; }
 @keyframes fadeOutUpBig { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(0, -2000px, 0);
}
}
.fadeOutUpBig { animation-name: fadeOutUpBig; }
 @keyframes flip { from {
 transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
 animation-timing-function: ease-out;
}
 40% {
 transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
 animation-timing-function: ease-out;
}
 50% {
 transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
 animation-timing-function: ease-in;
}
 80% {
 transform: perspective(400px) scale3d(.95, .95, .95);
 animation-timing-function: ease-in;
}
to {
	transform: perspective(400px);
	animation-timing-function: ease-in;
}
}
.animated.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	animation-name: flip;
}
 @keyframes flipInX { from {
 transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
 animation-timing-function: ease-in;
 opacity: 0;
}
 40% {
 transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 animation-timing-function: ease-in;
}
 60% {
 transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
 opacity: 1;
}
 80% {
 transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
}
to { transform: perspective(400px); }
}
.flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-name: flipInX;
}
 @keyframes flipInY { from {
 transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
 animation-timing-function: ease-in;
 opacity: 0;
}
 40% {
 transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
 animation-timing-function: ease-in;
}
 60% {
 transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
 opacity: 1;
}
 80% {
 transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
}
to { transform: perspective(400px); }
}
.flipInY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-name: flipInY;
}
 @keyframes flipOutX { from {
 transform: perspective(400px);
}
 30% {
 transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
 opacity: 1;
}
to {
	transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	opacity: 0;
}
}
.flipOutX {
	animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}
 @keyframes flipOutY { from {
 transform: perspective(400px);
}
 30% {
 transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
 opacity: 1;
}
to {
	transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	opacity: 0;
}
}
.flipOutY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-name: flipOutY;
}
 @keyframes lightSpeedIn { from {
 transform: translate3d(100%, 0, 0) skewX(-30deg);
 opacity: 0;
}
 60% {
 transform: skewX(20deg);
 opacity: 1;
}
 80% {
 transform: skewX(-5deg);
 opacity: 1;
}
to {
	transform: none;
	opacity: 1;
}
}
.lightSpeedIn {
	animation-name: lightSpeedIn;
	animation-timing-function: ease-out;
}
 @keyframes lightSpeedOut { from {
 opacity: 1;
}
to {
	transform: translate3d(100%, 0, 0) skewX(30deg);
	opacity: 0;
}
}
.lightSpeedOut {
	animation-name: lightSpeedOut;
	animation-timing-function: ease-in;
}
 @keyframes rotateIn { from {
 transform-origin: center;
 transform: rotate3d(0, 0, 1, -200deg);
 opacity: 0;
}
to {
	transform-origin: center;
	transform: none;
	opacity: 1;
}
}
.rotateIn { animation-name: rotateIn; }
 @keyframes rotateInDownLeft { from {
 transform-origin: left bottom;
 transform: rotate3d(0, 0, 1, -45deg);
 opacity: 0;
}
to {
	transform-origin: left bottom;
	transform: none;
	opacity: 1;
}
}
.rotateInDownLeft { animation-name: rotateInDownLeft; }
 @keyframes rotateInDownRight { from {
 transform-origin: right bottom;
 transform: rotate3d(0, 0, 1, 45deg);
 opacity: 0;
}
to {
	transform-origin: right bottom;
	transform: none;
	opacity: 1;
}
}
.rotateInDownRight { animation-name: rotateInDownRight; }
 @keyframes rotateInUpLeft { from {
 transform-origin: left bottom;
 transform: rotate3d(0, 0, 1, 45deg);
 opacity: 0;
}
to {
	transform-origin: left bottom;
	transform: none;
	opacity: 1;
}
}
.rotateInUpLeft { animation-name: rotateInUpLeft; }
 @keyframes rotateInUpRight { from {
 transform-origin: right bottom;
 transform: rotate3d(0, 0, 1, -90deg);
 opacity: 0;
}
to {
	transform-origin: right bottom;
	transform: none;
	opacity: 1;
}
}
.rotateInUpRight { animation-name: rotateInUpRight; }
 @keyframes rotateOut { from {
 transform-origin: center;
 opacity: 1;
}
to {
	transform-origin: center;
	transform: rotate3d(0, 0, 1, 200deg);
	opacity: 0;
}
}
.rotateOut { animation-name: rotateOut; }
 @keyframes rotateOutDownLeft { from {
 transform-origin: left bottom;
 opacity: 1;
}
to {
	transform-origin: left bottom;
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
}
}
.rotateOutDownLeft { animation-name: rotateOutDownLeft; }
 @keyframes rotateOutDownRight { from {
 transform-origin: right bottom;
 opacity: 1;
}
to {
	transform-origin: right bottom;
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
}
}
.rotateOutDownRight { animation-name: rotateOutDownRight; }
 @keyframes rotateOutUpLeft { from {
 transform-origin: left bottom;
 opacity: 1;
}
to {
	transform-origin: left bottom;
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
}
}
.rotateOutUpLeft { animation-name: rotateOutUpLeft; }
 @keyframes rotateOutUpRight { from {
 transform-origin: right bottom;
 opacity: 1;
}
to {
	transform-origin: right bottom;
	transform: rotate3d(0, 0, 1, 90deg);
	opacity: 0;
}
}
.rotateOutUpRight { animation-name: rotateOutUpRight; }
 @keyframes hinge { 0% {
 transform-origin: top left;
 animation-timing-function: ease-in-out;
}
 20%, 60% {
 transform: rotate3d(0, 0, 1, 80deg);
 transform-origin: top left;
 animation-timing-function: ease-in-out;
}
 40%, 80% {
 transform: rotate3d(0, 0, 1, 60deg);
 transform-origin: top left;
 animation-timing-function: ease-in-out;
 opacity: 1;
}
to {
	transform: translate3d(0, 700px, 0);
	opacity: 0;
}
}
.hinge { animation-name: hinge; }
 @keyframes jackInTheBox { from {
 opacity: 0;
 transform: scale(0.1) rotate(30deg);
 transform-origin: center bottom;
}
 50% {
 transform: rotate(-10deg);
}
 70% {
 transform: rotate(3deg);
}
to {
	opacity: 1;
	transform: scale(1);
}
}
.jackInTheBox { animation-name: jackInTheBox; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn { from {
 opacity: 0;
 transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
}
to {
	opacity: 1;
	transform: none;
}
}
.rollIn { animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut { from {
 opacity: 1;
}
to {
	opacity: 0;
	transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
}
}
.rollOut { animation-name: rollOut; }
 @keyframes zoomIn { from {
 opacity: 0;
 transform: scale3d(.3, .3, .3);
}
 50% {
 opacity: 1;
}
}
.zoomIn { animation-name: zoomIn; }
 @keyframes zoomInDown { from {
 opacity: 0;
 transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
 animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
 60% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
 animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
}
}
.zoomInDown { animation-name: zoomInDown; }
 @keyframes zoomInLeft { from {
 opacity: 0;
 transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
 animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
 60% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
 animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
}
}
.zoomInLeft { animation-name: zoomInLeft; }
 @keyframes zoomInRight { from {
 opacity: 0;
 transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
 animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
 60% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
 animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
}
}
.zoomInRight { animation-name: zoomInRight; }
 @keyframes zoomInUp { from {
 opacity: 0;
 transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
 animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
 60% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
 animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
}
}
.zoomInUp { animation-name: zoomInUp; }
 @keyframes zoomOut { from {
 opacity: 1;
}
 50% {
 opacity: 0;
 transform: scale3d(.3, .3, .3);
}
to { opacity: 0; }
}
.zoomOut { animation-name: zoomOut; }
 @keyframes zoomOutDown { 40% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
 animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
to {
	opacity: 0;
	transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
	transform-origin: center bottom;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
}
}
.zoomOutDown { animation-name: zoomOutDown; }
 @keyframes zoomOutLeft { 40% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
}
to {
	opacity: 0;
	transform: scale(.1) translate3d(-2000px, 0, 0);
	transform-origin: left center;
}
}
.zoomOutLeft { animation-name: zoomOutLeft; }
 @keyframes zoomOutRight { 40% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
}
to {
	opacity: 0;
	transform: scale(.1) translate3d(2000px, 0, 0);
	transform-origin: right center;
}
}
.zoomOutRight { animation-name: zoomOutRight; }
 @keyframes zoomOutUp { 40% {
 opacity: 1;
 transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
 animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
to {
	opacity: 0;
	transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
	transform-origin: center bottom;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
}
}
.zoomOutUp { animation-name: zoomOutUp; }
 @keyframes slideInDown { from {
 transform: translate3d(0, -100%, 0);
 visibility: visible;
}
to { transform: translate3d(0, 0, 0); }
}
.slideInDown { animation-name: slideInDown; }
 @keyframes slideInLeft { from {
 transform: translate3d(-100%, 0, 0);
 visibility: visible;
}
to { transform: translate3d(0, 0, 0); }
}
.slideInLeft { animation-name: slideInLeft; }
 @keyframes slideInRight { from {
 transform: translate3d(100%, 0, 0);
 visibility: visible;
}
to { transform: translate3d(0, 0, 0); }
}
.slideInRight { animation-name: slideInRight; }
 @keyframes slideInUp { from {
 transform: translate3d(0, 100%, 0);
 visibility: visible;
}
to { transform: translate3d(0, 0, 0); }
}
.slideInUp { animation-name: slideInUp; }
 @keyframes slideOutDown { from {
 transform: translate3d(0, 0, 0);
}
to {
	visibility: hidden;
	transform: translate3d(0, 100%, 0);
}
}
.slideOutDown { animation-name: slideOutDown; }
 @keyframes slideOutLeft { from {
 transform: translate3d(0, 0, 0);
}
to {
	visibility: hidden;
	transform: translate3d(-100%, 0, 0);
}
}
.slideOutLeft { animation-name: slideOutLeft; }
 @keyframes slideOutRight { from {
 transform: translate3d(0, 0, 0);
}
to {
	visibility: hidden;
	transform: translate3d(100%, 0, 0);
}
}
.slideOutRight { animation-name: slideOutRight; }
 @keyframes slideOutUp { from {
 transform: translate3d(0, 0, 0);
}
to {
	visibility: hidden;
	transform: translate3d(0, -100%, 0);
}
}
.slideOutUp { animation-name: slideOutUp; }
/* Added */
 @keyframes fadeInUpSmall { from {
 opacity: 0;
 transform: translate3d(0, 10%, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInUpSmall { animation-name: fadeInUpSmall; }
 @keyframes fadeInDownSmall { from {
 opacity: 0;
 transform: translate3d(0, -10%, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInDownSmall { animation-name: fadeInDownSmall; }
 @keyframes fadeInLeftSmall { from {
 opacity: 0;
 transform: translate3d(-10%, 0, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInLeftSmall { animation-name: fadeInLeftSmall; }
 @keyframes fadeInRightSmall { from {
 opacity: 0;
 transform: translate3d(10%, 0, 0);
}
to {
	opacity: 1;
	transform: none;
}
}
.fadeInRightSmall { animation-name: fadeInRightSmall; }

/* ----------------------------------------------------------------------
	2. Waypoints Delay
---------------------------------------------------------------------- */
.delay1 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.delay2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.delay3 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.delay4 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.delay5 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.delay6 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.delay7 {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.delay8 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.delay9 {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.delay10 {
	-webkit-animation-delay: 1.0s;
	animation-delay: 1.0s;
}
.delay11 {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.delay12 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.delay13 {
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.delay14 {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.delay15 {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.delay16 {
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.delay17 {
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.delay18 {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s;
}
.delay19 {
	-webkit-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
.delay20 {
	-webkit-animation-delay: 2.0s;
	animation-delay: 2.0s;
}
.delay21 {
	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
}
.delay22 {
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
.delay23 {
	-webkit-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
.delay24 {
	-webkit-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
.delay25 {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.delay26 {
	-webkit-animation-delay: 2.6s;
	-moz-animation-delay: 2.6s;
	animation-delay: 2.6s;
}
.delay27 {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
.delay28 {
	-webkit-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
.delay29 {
	-webkit-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
.delay30 {
	-webkit-animation-delay: 3.0s;
	animation-delay: 3.0s;
}

/* ----------------------------------------------------------------------
	3. Grayscale
---------------------------------------------------------------------- */
/*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
	/* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
	/*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);
	/* Firefox 35+ */
  filter: grayscale(1);
	/* IE 6-9 */
  filter: gray;
}
.grayscale.grayscale-fade { transition: filter .5s; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
.grayscale.grayscale-fade {
	-webkit-transition: -webkit-filter .5s;
	transition:         -webkit-filter .5s;
}
}
.grayscale.grayscale-off, .grayscale.grayscale-fade:hover {
	-webkit-filter: grayscale(0);
	filter:         grayscale(0);
}
/* Background element */
.grayscale.grayscale-replaced {
	-webkit-filter: none;
	filter:         none;
}
.grayscale.grayscale-replaced > svg {
	-webkit-transition: opacity .5s ease;
	transition:         opacity .5s ease;
	opacity: 1;
}
.grayscale.grayscale-replaced.grayscale-off > svg, .grayscale.grayscale-replaced.grayscale-fade:hover > svg { opacity: 0; }

/* Grayscale Wrap */
.grayscale-wrap img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");	/* Firefox 10-34 */
  -webkit-filter: grayscale(1);	/* Chrome 19+, Safari 6+, Safari 6+ iOS, Opera 15+ */
  filter: grayscale(1);	/* Firefox 35+ */
  filter: gray;	/* IE 6-9 */
}
.grayscale-wrap:hover img {
	-webkit-filter: grayscale(0);
	filter:         grayscale(0);
}
/* ----------------------------------------------------------------------
	4. Nivo-lightbox
---------------------------------------------------------------------- */
/*!
 * Nivo Lightbox v1.3.1
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivo-lightbox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open {
	visibility: visible;
	opacity: 1;
}
.nivo-lightbox-wrap {
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}
.nivo-lightbox-content {
	width: 100%;
	height: 100%;
}
.nivo-lightbox-title-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	text-align: center;
}
.nivo-lightbox-nav { display: none; }
.nivo-lightbox-prev {
	position: absolute;
	top: 50%;
	left: 0;
}
.nivo-lightbox-next {
	position: absolute;
	top: 50%;
	right: 0;
}
.nivo-lightbox-close {
	position: absolute;
	top: 2%;
	right: 2%;
}
.nivo-lightbox-image { text-align: center; }
.nivo-lightbox-image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
}
.nivo-lightbox-content iframe {
	width: 100%;
	height: 100%;
}
.nivo-lightbox-inline, .nivo-lightbox-ajax {
	max-height: 100%;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-lightbox-error {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
	display: table-cell;
	vertical-align: middle;
}
/* Effects */
.nivo-lightbox-notouch .nivo-lightbox-effect-fade, .nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale, .nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft, .nivo-lightbox-notouch .nivo-lightbox-effect-slideRight, .nivo-lightbox-notouch .nivo-lightbox-effect-slideUp, .nivo-lightbox-notouch .nivo-lightbox-effect-slideDown, .nivo-lightbox-notouch .nivo-lightbox-effect-fall {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/* fadeScale */
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
/* slideLeft / slideRight / slideUp / slideDown */
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight .nivo-lightbox-wrap, .nivo-lightbox-effect-slideUp .nivo-lightbox-wrap, .nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
	transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
	-webkit-transform: translateX(10%);
	-moz-transform: translateX(10%);
	-ms-transform: translateX(10%);
	transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
	-webkit-transform: translateY(-10%);
	-moz-transform: translateY(-10%);
	-ms-transform: translateY(-10%);
	transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
	-webkit-transform: translateY(10%);
	-moz-transform: translateY(10%);
	-ms-transform: translateY(10%);
	transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap, .nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
/* fall */
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transform: translateZ(300px);
	-moz-transform: translateZ(300px);
	-ms-transform: translateZ(300px);
	transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
/*
 * Nivo Lightbox Default Theme v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
	background: #666;
	background: rgba(0,0,0,0.6);
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { background: url("../images/assets/loading.gif") no-repeat 50% 50%; }
.nivo-lightbox-theme-default .nivo-lightbox-nav {
	top: 10%;
	width: 8%;
	height: 80%;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-prev {
	background-image: url("../images/assets/prev.png");
	border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next {
	background-image: url("../images/assets/next.png");
	border-radius: 3px 0 0 3px;
}
.nivo-lightbox-theme-default .nivo-lightbox-close {
	display: block;
	background: url("../images/assets/close.png") no-repeat 5px 5px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	padding: 5px;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover { opacity: 1; }
.nivo-lightbox-theme-default .nivo-lightbox-title-wrap { bottom: -7%; }
.nivo-lightbox-theme-default .nivo-lightbox-title {
	font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	background: #000;
	color: #fff;
	padding: 7px 15px;
	border-radius: 30px;
}
.nivo-lightbox-theme-default .nivo-lightbox-image img {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax, .nivo-lightbox-theme-default .nivo-lightbox-inline {
	background: #fff;
	padding: 40px;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
 @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
 .nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
 background-image: url("../images/assets/loading@2x.gif");
 background-size: 32px 32px;
}
 .nivo-lightbox-theme-default .nivo-lightbox-prev {
 background-image: url("../images/assets/prev@2x.png");
 background-size: 48px 48px;
}
 .nivo-lightbox-theme-default .nivo-lightbox-next {
 background-image: url("../images/assets/next@2x.png");
 background-size: 48px 48px;
}
 .nivo-lightbox-theme-default .nivo-lightbox-close {
 background-image: url("../images/assets/close@2x.png");
 background-size: 16px 16px;
}
}


