﻿@model IEnumerable<RocketBoards.Models.Register>

@{
    ViewData["Title"] = "Gerenciar";
    Layout = "~/Views/Shared/_LayoutSurf.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-controller="Brands" asp-action="Index" class="nav-link">
                <h5>Marcas</h5>

                <a class="nivo-lightbox" href="~/surf/images/card/marcas.jpg" title="Image Title">
                    <img class="image-align-left" src="~/surf/images/card/marcas.jpg" alt="" />
                </a>
                <p><span class="dropcap">G</span> erencie todas as marcas, cadastrando e pesquisando.</p>
            </a>
        </div>
        <!-- end .col-lg-6 -->
        <div class="col-lg-6">
            <a asp-area="" asp-controller="Shapers" asp-action="Index" class="nav-link">
                <h3>Shapers</h3>
                <a class="nivo-lightbox" href="~/surf/images/card/shaper.jpg" title="Image Title">
                    <img class="image-align-right" src="~/surf/images/card/shaper.jpg" alt="" />
                </a>
                <p><span class="dropcap">G</span> erencie todas os Shapers, cadastrando e pesquisando.</p>
            </a>
        </div>
        <!-- end .col-lg-6 -->

    </div>
    <!-- end .row -->
</div>
<!-- end .container -->
<div class="mb-100">
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-controller="Blocks" asp-action="Index" class="nav-link">
                <h3>Bloco</h3>
                <a class="nivo-lightbox" href="~/surf/images/card/bloco.jpg" title="Image Title">
                    <img class="image-align-left" src="~/surf/images/card/bloco.jpg" alt="" />
                </a>
                <p><span class="dropcap">G</span> erencie todas os blocos, cadastrando e pesquisando.</p>
            </a>
        </div>
        <!-- end .col-lg-6 -->
        <div class="col-lg-6">
            <a asp-area="" asp-controller="Fins" asp-action="Index" class="nav-link">
                <h3>Quilhas</h3>
                <a class="nivo-lightbox" href="~/surf/images/card/quilhas.jpg" title="Image Title">
                    <img class="image-align-right" src="~/surf/images/card/quilhas.jpg" alt="" />
                </a>
                <p><span class="dropcap">G</span> erencie todas as quilhas, cadastrando e pesquisando.</p>
            </a>
        </div>
        <!-- end .col-lg-6 -->

    </div>
    <!-- end .row -->
</div>
<!-- end .container -->
<div class="mb-100">
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-controller="ModelBoards" asp-action="Index" class="nav-link">
                <h3>Modelo da Prancha</h3>
                <a class="nivo-lightbox" href="~/surf/images/card/modelos.png" title="Image Title">
                    <img class="image-align-left" src="~/surf/images/card/modelos.png" alt="" />
                </a>
                <p><span class="dropcap">G</span> erencie todas os modelos, cadastrando e pesquisando.</p>
            </a>
        </div>
    </div>
    <!-- end .row -->
</div>
<!-- end .container -->
<div class="mb-100">
</div>